.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-size: cover;
	background-position: center;
	background-image: url(https://images.unsplash.com/photo-1508193638397-1c4234db14d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80);
	transition: transform 150ms ease, box-shadow 150ms ease;
	&:hover {
		transform: scale(1.01);
		box-shadow: var(--mantine-shadow-md);
	}
}

.card_2 {
	/* position: relative; */
	background-color: var(--mantine-color-body);
	transition: transform 150ms ease, box-shadow 150ms ease;
	&:hover {
		transform: scale(1.01);
		box-shadow: var(--mantine-shadow-md);
	}
}

.card_3 {
	position: relative;
	background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  
	@mixin hover {
	  & .image {
		transform: scale(1.03);
	  }
	}
}
  

.badge {
	/* position: absolute; */
	margin: 0;
	padding: var(--mantine-spacing-xs);
	top: var(--mantine-spacing-xs);
	/* right: rem(12px); */
	/* pointer-events: none; */
}

.title {
	font-family: Greycliff CF, var(--mantine-font-family);
	font-weight: 900;
	color: var(--mantine-color-white);
	line-height: 1.2;
	font-size: rem(32px);
	margin-top: var(--mantine-spacing-xs);
}

.title_2 {
	display: block;
	margin-top: var(--mantine-spacing-md);
	margin-bottom: rem(5px);
}

.category {
	color: var(--mantine-color-white);
	opacity: 0.7;
	font-weight: 700;
	text-transform: uppercase;
}

.action {
	background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));

	@mixin hover {
		background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
	}
}

.footer {
	margin-top: var(--mantine-spacing-md);
}

.image {
	position: absolute;
	inset: 0;
	background-size: cover;
	transition: transform 500ms ease;
}

.overlay {
	position: absolute;
	top: 20%;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 90%);
}

.content {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 1;
}

.title_3 {
	color: var(--mantine-color-white);
	margin-bottom: rem(5px);
}

.bodyText {
	color: var(--mantine-color-dark-2);
	margin-left: rem(7px);
}

.author {
	color: var(--mantine-color-dark-2);
}


.card_vertical {
	background-color: var(--mantine-color-body);
}
  
.title_vertical {
	font-weight: bold;
	font-family: Greycliff CF, var(--mantine-font-family);
	line-height: 1.2;
}
  
.body_vertical {
	padding: var(--mantine-spacing-md);
}

.pop_card {
	display: block;
	width: 200px;
	max-height: 180px;
	border: var(--mantine-spacing-sm);
	color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  
	/* @mixin hover {
	  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
	} */
}

.link {
	display: block;
	align-items: end;
}

.button {
	&:hover {
		transform: scale(1.01);
		box-shadow: var(--mantine-shadow-md);
	}
}